# For a complete list of core environment variables see
# https://docs.silverstripe.org/en/4/getting_started/environment_management/#core-environment-variables

# DB credentials
SS_DATABASE_CLASS="MySQLDatabase"

SS_DATABASE_USERNAME="db"
SS_DATABASE_PASSWORD="db"
SS_DATABASE_SERVER="db"
SS_DATABASE_NAME="db"
SS_ENVIRONMENT_TYPE="dev"
SS_ALLOWED_HOSTS="*"

SS_DEFAULT_ADMIN_USERNAME="admin"
SS_DEFAULT_ADMIN_PASSWORD="password"

SS_SEND_ALL_EMAILS_TO="cms@bigfork.co.uk"

# Bypass MFA in dev
BYPASS_MFA=1

# Generate with: php -r 'echo substr(base64_encode(random_bytes(32)), 0, 32) . "\n";'
SS_MFA_SECRET_KEY=""

# Examples: https://symfony.com/doc/current/mailer.html#using-a-3rd-party-transport
MAILER_DSN="smtp://localhost:1025"
