/* Element: _element-feature-boxes.scss
---------------------------------------------------------------------------------- */
/*------------------------------------
	Row
------------------------------------*/
.element-two-column__row {
	display: flex;
	flex-wrap: wrap;
	gap: 36px 24px;
}

/*------------------------------------
	Column
------------------------------------*/
@include respond(576px) {
	.element-two-column__column {
		flex: 1 1 calc(50% - 12px);
	}
}
