/* element: element
---------------------------------------------------------------------------------- */
.element {
	&:not(:first-child) {
		margin-top: 36px;
	}
}

.element__before {
	margin-bottom: 24px;
}

.element__after {
	margin-top: 24px;
}
