/* Element: _element-feature-boxes.scss
---------------------------------------------------------------------------------- */
/*------------------------------------
	Grid
------------------------------------*/
.element-feature-boxes__grid {
	display: grid;
	gap: 36px 24px;
}

@include respond(576px) {
	.element-feature-boxes__grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@include respond(768px) {
	.element-feature-boxes__grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

/*------------------------------------
	Card
------------------------------------*/
.element-feature-boxes__card {
	height: 100%;
	border: 1px solid $black;
}

/*------------------------------------
	Card content
------------------------------------*/
.element-feature-boxes__card-content {
	padding: 1em;
}
