/* SCSS Variables
---------------------------------------------------------------------------------- */

$color__white: #fff;
$color__black: #000;
$color__black--alt: #333;

$font__head: verdana, sans-serif;
$font__head--alt: 'Trebuchet MS', verdana, sans-serif;

$font__body: verdana, sans-serif;
