/* Component: alert styles
---------------------------------------------------------------------------------- */

:root {
	--alert-good: #00703C;
	--alert-bad: #D4351C;
	--alert-warning: #FFDD00;
	--alert-info: #1D70B8;
}

.alert {
	margin: 1rem 0 !important;
	padding: 0.5em 1em;
	border: solid 1px;
	font-weight: bold;
	font-size: 1.7rem;
	line-height: 1.3;
}

.alert--good {
	border-color: color-mix(in srgb, var(--alert-good) 40%, var(--black));
	color: var(--white);
	background-color: var(--alert-good);
}

.alert--bad,
.alert--error,
.alert--required,
.alert--validation {
	border-color: color-mix(in srgb, var(--alert-bad) 40%, var(--black));
	color: var(--white);
	background-color: var(--alert-bad);
}

.alert--warning {
	border-color: color-mix(in srgb, var(--alert-warning) 40%, var(--black));
	color: var(--black);
	background-color: var(--alert-warning);
}

.alert--info,
.alert--notice {
	border-color: color-mix(in srgb, var(--alert-info) 40%, var(--black));
	color: var(--white);
	background-color: var(--alert-info);
}
