/* Component: container
---------------------------------------------------------------------------------- */
.container {
	max-width: $container-width;
	padding: 0 $container-padding;
	margin: 0 auto;
}
