/* Layout: header
---------------------------------------------------------------------------------- */

.header {
	color: var(--white);
	background: var(--black);
}

@media (min-width: 960px) {
	.header {
		background: var(--white);
	}
}
