/* Layout: header
---------------------------------------------------------------------------------- */

.header {
	color: $color__white;
	background: $color__black;
}

@include respond(960px) {
	.header {
		background: $color__white;
	}
}
