/* Layout: header
---------------------------------------------------------------------------------- */

.header {
	color: $white;
	background: $black;
}

@include respond(960px) {
	.header {
		background: $white;
	}
}
