@import 'sanitize.css';
@import 'sanitize.css/assets.css';
@import 'sanitize.css/forms.css';
@import 'sanitize.css/reduce-motion.css';

/* Don't mess with cursor */
html {
	cursor: auto;
}

/* Normal word-break behaviour */
html {
	word-break: normal;
}

/* Remove default margin/padding */
body,
:where(h1),
:where(h2),
:where(h3),
:where(h4),
:where(h5),
:where(h6),
:where(p),
:where(ul),
:where(ol),
:where(li),
:where(figure),
:where(figcaption),
:where(blockquote),
:where(dl),
:where(dd) {
	padding: 0;
	margin: 0;
}

/* Reset font sizes */
:where(h1),
:where(h2),
:where(h3),
:where(h4),
:where(h5),
:where(h6) {
	font: inherit;
}

/* Sub/sup */
:where(sup),
:where(sub) {
	position: relative;
	top: -0.3em;
	font-size: 80%;
	vertical-align: baseline;
}

:where(sub) {
	top: 0.4em;
}

/* Reset list styles */
:where(ol),
:where(ul) {
	list-style: none;
}

/* Remove sanitize VoiceOver workaround */
nav li::before {
	content: unset;
}

button {
	cursor: pointer;
}
