/* SCSS Variables
---------------------------------------------------------------------------------- */

$white: #FFFFFF;
$black: #000000;
$black-alt: #333333;

$form-description: #505A5F;
$form-good: #00703C;
$form-bad: #D4351C;
$form-warning: #FFDD00;
$form-info: #1D70B8;
$form-focus: #1D70B8;

$font-head: arial, verdana, sans-serif;
$font-body: arial, verdana, sans-serif;

$container-width: 1168px;
$container-padding: 20px;
