/* SCSS Variables
---------------------------------------------------------------------------------- */

$color__white: #fff;
$color__black: #000;
$color__black--alt: #333;

$color__form-description: #505a5f;
$color__form-good: #00703c;
$color__form-bad: #d4351c;
$color__form-warning: #fd0;
$color__form-info: #1d70b8;
$color__form-focus: #1d70b8;

$font__head: arial, verdana, sans-serif;
$font__body: arial, verdana, sans-serif;
