name: deploy

on: workflow_dispatch
concurrency: production_environment

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'

      - name: Install dependencies
        uses: ramsey/composer-install@v3
        with:
          composer-options: "--no-scripts --no-plugins"

      - name: Deploy
        uses: deployphp/action@v1
        with:
          dep: deploy prod -vvv
          private-key: ${{ secrets.PRIVATE_KEY }}
